<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0x0001</key>
	<string>BMP</string>
	<key>0x0002</key>
	<string>MVE</string>
	<key>0x0004</key>
	<string>WAVC</string>
	<key>0x0005</key>
	<string>WFX</string>
	<key>0x0006</key>
	<string>PLT</string>
	<key>0x03B8</key>
	<string>TGA</string>
	<key>0x03E8</key>
	<string>BAM</string>
	<key>0x03E9</key>
	<string>WED</string>
	<key>0x03EA</key>
	<string>CHU</string>
	<key>0x03EB</key>
	<string>TIS</string>
	<key>0x03EC</key>
	<string>MOS</string>
	<key>0x03ED</key>
	<string>ITM</string>
	<key>0x03EE</key>
	<string>SPL</string>
	<key>0x03EF</key>
	<string>BCS</string>
	<key>0x03F0</key>
	<string>IDS</string>
	<key>0x03F1</key>
	<string>CRE</string>
	<key>0x03F2</key>
	<string>ARE</string>
	<key>0x03F3</key>
	<string>DLG</string>
	<key>0x03F4</key>
	<string>2DA</string>
	<key>0x03F5</key>
	<string>GAM</string>
	<key>0x03F6</key>
	<string>STO</string>
	<key>0x03F7</key>
	<string>WMP</string>
	<key>0x03F8</key>
	<string>EFF</string>
	<key>0x03F9</key>
	<string>BS</string>
	<key>0x03FA</key>
	<string>CHR</string>
	<key>0x03FB</key>
	<string>VVC</string>
	<key>0x03FC</key>
	<string>VEF</string>
	<key>0x03FD</key>
	<string>PRO</string>
	<key>0x03FE</key>
	<string>BIO</string>
	<key>0x03FF</key>
	<string>WBM</string>
	<key>0x0400</key>
	<string>FNT</string>
	<key>0x0402</key>
	<string>GUI</string>
	<key>0x0403</key>
	<string>SQL</string>
	<key>0x0404</key>
	<string>PVRZ</string>
	<key>0x0405</key>
	<string>GLSL</string>
	<key>0x0406</key>
	<string>TOT</string>
	<key>0x0407</key>
	<string>TOH</string>
	<key>0x0408</key>
	<string>MENU</string>
	<key>0x0409</key>
	<string>LUA</string>
	<key>0x040A</key>
	<string>TTF</string>
	<key>0x040B</key>
	<string>PNG</string>
	<key>0x044C</key>
	<string>BAH</string>
	<key>0x0802</key>
	<string>INI</string>
	<key>0x0803</key>
	<string>MAZE</string>
</dict>
</plist>
